/* css page_index */


/* 去除下划线 */
.login span a{
    text-decoration: none;
    color: blue;
}

.login span a:hover{
    color: red;
}




/* box */
.box{
    width: 100%;
    margin: 0 auto;
}

/* logo */
.logo{
    width: 100%;
    height: 97px;
    background: url(../picture/logo.jpg);
    position: relative;
}

/* login */
.login{
    position: absolute;
    top: 7px;
    right: 200px;
    width: 400px;
    text-align: right;
}

.login span{
    margin: 0 5px;
}

/* site search */
.site_search{
    padding: 0px 0px 0px 0px;
    height: 19px;
    width: 180px;
    position: absolute;
    top: 10px;
    right: 10px;
}
    
.site_search #search_name{
    float: left;
    border: 1px inset #d6d6d6;
    width: 100px;
    height: 20px;
    line-height: 17px;
    color: gray;
    padding: 0px 3px;
    font-size: 12px;
}

.site_search .button_search{
    float: right;
    margin-left: 10px;
}


